@model IEnumerable<ControleClinicaPsicologia.Models.Paciente>

@{
    ViewData["Title"] = "Pacientes";
}

<h1>Pacientes</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Nome Completo
            </th>
            <th>
                E-mail
            </th>
            <th>
                Data de Nascimento
            </th>
            <th>
                Telefone
            </th>
              <th>
                Prontuario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prontuario)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.PacienteId" class="btn btn-primary btn-sm">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.PacienteId" class="btn btn-primary btn-sm">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
